version: 2
updates:
  - package-ecosystem: "nuget"
    directories:
      - "/samples/*"
      - "/src/*"
      - "/test/*"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      
