{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
                                            "preset": "conventionalcommits",
                                            "releaseRules": [
                                              { "type": "feat", "release": "minor" },
                                              { "type": "fix", "release": "patch" },
                                              { "type": "perf", "release": "patch" },
                                              { "type": "chore", "release": false },
                                              { "type": "docs", "release": false },
                                              { "type": "style", "release": false },
                                              { "type": "refactor", "release": "patch" },
                                              { "type": "test", "release": false },
                                              { "type": "ci", "release": false },
                                              { "type": "build", "release": false },
                                              { "type": "revert", "release": "patch" },
                                              { "type": "BREAKING CHANGE", "release": "major" }
                                            ],
                                            "presetConfig": {
                                              "types": [
                                                { "type": "feat", "section": "Features" },
                                                { "type": "fix", "section": "Bug Fixes" },
                                                { "type": "perf", "section": "Performance Improvements" },
                                                { "type": "refactor", "section": "Code Refactoring" },
                                                { "type": "revert", "section": "Reverts" },
                                                { "type": "docs", "section": "Documentation", "hidden": true },
                                                { "type": "test", "section": "Tests", "hidden": true },
                                                { "type": "ci", "section": "Continuous Integration", "hidden": true },
                                                { "type": "chore", "section": "Chores", "hidden": true },
                                                { "type": "style", "section": "Styles", "hidden": true },
                                                { "type": "build", "section": "Build System", "hidden": true }
                                              ]
                                            }
                                          }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits"
    }],
    "@semantic-release/github",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {
      "prepareCmd": "./release.sh -f private -v ${nextRelease.version} -r '${nextRelease.notes}'"
    }],
    ["@semantic-release/git", {
      "assets": ["src/Directory.Build.props", "*.md", "docs"],
      "message": "chore: ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ]
}
