<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
            <div class="navbar-nav">
                <a asp-route-__tenant__="finbuckle" class="nav-item nav-link">Finbuckle Tenant</a>
                <a asp-route-__tenant__="initech" class="nav-item nav-link">Initech Tenant</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>