<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">@ViewBag.Title</a>
            <div class="navbar-nav">
                <a asp-route-__tenant__="finbuckle" class="nav-item nav-link">Finbuckle Tenant</a>
                <a asp-route-__tenant__="megacorp" class="nav-item nav-link">MegaCorp Tenant</a>
                <a asp-route-__tenant__="initech" class="nav-item nav-link">Initech Tenant</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>