<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand @ViewData["style"]">
        <div class="container">
            <a class="navbar-brand" href="/">@ViewData["Title"]</a>
            <div class="navbar-nav">
                <a asp-route-__tenant__="acme" class="nav-item nav-link">ACME</a>
                <a asp-route-__tenant__="initech" class="nav-item nav-link">Initech</a>
                <a asp-route-__tenant__="megacorp" class="nav-item nav-link">MegaCorp</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
