name: Copy docs to website

on:
    workflow_dispatch:
    release:
        types: [published]

jobs:
  checkout-copy-checkin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Finbuckle.MultiTenant
        uses: actions/checkout@v4
        with:
          path: main
          fetch-depth: 0 # Required due to the way Git works, without it this action won't be able to find any or the correct tags
      - name: Get Current Version
        id: currentversion
        uses: WyriHaximus/github-action-get-previous-tag@v1
        with:
          workingDirectory: main
          prefix: v
      - name: Checkout Website
        uses: actions/checkout@v4
        with:
          repository: Finbuckle/Website
          token: ${{ secrets.workflow_pat }}
          path: website
      - name: Copy Docs
        run: mkdir -p website/content/docs/${{ steps.currentversion.outputs.tag }} && cp main/docs/* website/content/docs/${{ steps.currentversion.outputs.tag }}
      - name: Checkin Website
        working-directory: website
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "chore: docs generated"
          git push
