name: Copy Docs to Website

on:
    workflow_dispatch:
    release:
        types: [published]

permissions:
  contents: read

jobs:
  checkout-copy-checkin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Finbuckle.MultiTenant
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.2.0
        with:
          fetch-depth: 0
      - name: Get Current Version
        run: echo "tag=$(git describe --tags --abbrev=0 --match 'v*')" >> $GITHUB_ENV
      - name: Checkout Website
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.2.0
        with:
          repository: Finbuckle/Website
          token: ${{ secrets.workflow_pat }}
          path: website
      - name: Copy Docs
        run: mkdir -p website/content/docs/${{ env.tag }} && cp docs/* website/content/docs/${{ env.tag }}
      - name: Checkin Website
        working-directory: website
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "chore: docs generated"
          git push
