name: Release

on: [ workflow_dispatch ]

jobs:
  build-test-prep-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.2.0
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: 10
      - name: build and test
        run: |
          dotnet restore
          dotnet build -c Release --no-restore -p:ContinuousIntegrationBuild=true
          dotnet test -c Release --no-build
      - name: setup semantic-release
        run: |
          npm install -D semantic-release
          npm install -D @semantic-release/git
          npm install -D @semantic-release/changelog
          npm install -D @semantic-release/exec
          npm install -D conventional-changelog-conventionalcommits
      - name: run semantic-release
        env:
          GH_TOKEN: ${{ secrets.workflow_pat }}
        run: npx semantic-release