name: Tidy Issues and PRs
on:
  schedule:
    - cron: 30 1 * * *

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.0.0
        with:
          days-before-stale: 180
          days-before-close: -1
          stale-issue-label: inactive
          stale-pr-label: inactive
          exempt-issue-labels: pinned
          exempt-pr-labels: pinned
          stale-issue-message: This issue has been labeled inactive because it has been open 180 days with no activity. Please consider closing this issue if no further action is needed.
          stale-pr-message: This PR has been labeled inactive because it has been open 180 days with no activity. Please consider closing this PR if no further action is needed.
          